<!-- Posts -->
{{ $data := .siteData }}
<section class="posts">
    {{ range .posts.Pages }}
    <article>
        <header>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        </header>

        <a href="{{ .Permalink }}" class="image fit">
            {{ $cover := .Resources.GetMatch "*"}}
            {{ with $cover }}
            {{ $scaled := .Fill "600x400" }}
            <img src="{{ $scaled.Permalink }}" alt="{{ $.title }}">
            {{ end }}
        </a>    

        <p>{{ .Description }}</p>
        <ul class="actions">
            <li><a href="{{ .Permalink }}" class="button">{{ $data.post.linktext }}</a></li>
        </ul>
    </article>
    {{ end }}
</section>
