<!-- Posts -->
{{ $data := .siteData }}
<section class="posts">
    {{ range .posts.Pages }}
    <article>
        

        <a href="{{ .Permalink }}" class="image fit">

            {{ $imageResources := .Site.GetPage "/uploads" }}
            {{ with .Params.images }}
                {{ $imageName := .name }}
                {{ $imgToFind := strings.TrimPrefix "/uploads/" .src }}
                {{ $imageResource := $imageResources.Resources.GetMatch ($imgToFind) }}
                {{ $resized := $imageResource.Fill "600x400" }}

                <img src="{{ $resized.Permalink }}" alt="{{ $imageName }}">
            {{ end }}

        </a>  
        <header>
            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
        </header>  

    </article>
    {{ end }}
</section>
