<div id="intro">
    <h1>
        Do you want more traffic?
    </h1>
    <div class="lead">
        <p>
            Do you want more traffic to your website, increase leads, and make more sales?
        </p>
        <p>
            Are you frustrated trying to get page views and think its impossible in 2019?
        </p>
        
        <p>
            Guess what!  It's still possible and easier than you think.  
        </p>

        <form>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="row searchbox">
                        <div class="col-8">
                            <input type="text" name="website_domain" id="website_domain" value="" placeholder="Your Website URL">
                        </div>
                        <div class="col-4">
                            <input type="submit" value="RUN FREE AUDIT" id="btnAnalyze" class="button" onclick="analyzeUrl(); return false;"/>
                        </div>
                    </div>
                </div>

                <div class="col-2"></div>
            </div>
        </form>

        <p>
            Get started by entering your URL for a free checkup by our AI bot - Growva.
        </p>
    </div>
</div>
