<!-- Nav -->
{{ $data := index .Site.Data .Site.Language.Lang }}
{{- $categoryListPage := print (index (split .URL "/") 2) -}}
{{- $category :=   .Params.categories -}}
            
<nav id="nav">
    <ul class="links">
        <li class="{{if eq .URL "/"}}active{{end}}">
            <a href='{{ "/" | relLangURL }}'>{{ .Site.Title }}</a>
        </li>
        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
            {{ with $.Site.GetPage (printf "/categories/%s" $name) }}
                {{ $friendlyname := replace $name "-" " " }}
                <li class="{{if or (eq ($categoryListPage) ($name)) (in $category $name)}}active{{end}}">
                    <a title="{{$friendlyname}}" href="{{ .Permalink }}">{{ $friendlyname }}</a>
                </li>
            {{ end }}
        {{ end }}

        <li class='{{if or (eq .URL "/dashboard/") (eq .URL "/pinkarma/")}}active{{end}}'>
            <a href='{{ "/pinkarma/" | relLangURL }}'>PIN KARMA</a>
        </li>
    </ul>

    <ul class="icons">
        {{if not (eq .URL "/dashboard/")}}
        <li><a href="/dashboard/" class="button small">Dashboard</a></li>
        {{end}}

        {{if eq .URL "/dashboard/"}}
        <li id="btnLogin"><button type="button" class="button small" onclick="showLogin();">Log In</button></li>
        <li id="btnFreeTrial"><button type="button" class="button primary small" onclick="signup();">Free Trial</button></li>
        <li id="btnLogout" style="display:none;">
            <button type="button" class="button small" onclick="logout(); return false;">
                <img id="avatar" src="/images/avatar.png" alt="Avatar" class="avatar">
                Log Out
            </button>
        </li>
        {{end}}
    </ul>
</nav>

