<!-- Nav -->
{{ $data := index .Site.Data .Site.Language.Lang }}
{{- $categoryListPage := print (index (split .URL "/") 2) -}}
{{- $category :=   .Params.categories -}}
            
<nav id="nav">
    <ul class="links">
        <li class="{{if eq .URL "/"}}active{{end}}">
            <a href='{{ "/" | relLangURL }}'>{{ .Site.Title }}</a>
        </li>
        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
            {{ with $.Site.GetPage (printf "/categories/%s" $name) }}
                <li class="{{if or (eq ($categoryListPage) ($name)) (in $category $name)}}active{{end}}">
                    <a title="{{$name}}" href="{{ .Permalink }}">{{ $name }}</a>
                </li>
            {{ end }}
        {{ end }}


    </ul>

    <ul class="icons">
        <li id="btnLogin"><button type="button" class="button small" data-toggle="modal" data-target="#loginModal">Log In</button></li>
        <li id="btnFreeTrial"><button type="button" class="button primary small" onclick="signup();">Free Trial</button></li>
        <li id="btnLogout" style="display:none;"><a href="/dashboard"><button type="button" class="button small" onclick="logout();">Log Out</button></a></li>
    </ul>
</nav>

