{{ $data := index .Site.Data .Site.Language.Lang }}
{{ $title := .Title }}
{{ $url := printf "%s" .URL | absLangURL }}
{{ $body := print .Title " - " .Params.description }}
{{ $pins := .Params.pins }}

    {{ if $pins }}
    {{ with $data.social }}
    <section id="sharing" class="panelShare">
        <div class="box">
            <ul class="icons alt">
                {{ with .pinterest}}
                    {{ range first 1 $pins }}
                    <li>
                        <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonPin" data-pin-custom="true" data-pin-media="{{ .pin_image }}" data-pin-description="{{ .pin_description }}">
                            <span class="button primary" id="btnShare">Pin This For Later</span>
                        </a>
                    </li>
                    {{ end }}
                {{ end}}

                
                {{ with .facebook}}
                <li><a href="http://www.facebook.com/sharer.php?u={{ $url }}" target="_blank" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
                {{ end }}

            </ul>
                    
            <div class="accordion" id="pinView">
                <div class="row gtr-50 gtr-uniform">
                    {{ if $pins }}
                        {{ range $pins }}
                        <div class="col-4"><span class="image fit"><img src="{{ .pin_image }}" data-pin-description="{{ .pin_description }}"></span></div>
                        {{ end }}
                    {{ end }}


                    
                </div>
            </div>

        </div>

    </section>
    {{ end }}
    {{ end }}



